
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
  font-family:'helvetica', 'sans-serif';
}

.app{
  background-image: url("./assets/clear.jpg");
  background-size:cover;
  transition:0.4s ease-out;
}
.appcloudy{
  background-image: url("./assets/cloudy.jpg");
  background-size:cover;  
  transition:0.4s ease-out;
}

.apprainy{
  background-image: url("./assets/rainy.jpg");
  background-size:contain;
  
  transition:0.4s ease-out;
  
}

.appsnowy{
  background-image: url("./assets/snowy.jpg");
  background-size:cover;
  transition:0.4s ease-out;
}
  
.appwindy{
  background-image: url("./assets/windy.jpg");
  background-size:cover;
  transition:0.4s ease-out;
}





main {
  min-height: 120vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.8));
  padding:100px;
}

.search-box{
  width: 100%;


}

.search-box .search-bar{
  display:block;
  width: 30%;
  padding: 15px;

  appearance: none;
  background:none;
  border: none;
  outline: none;

  background-color: rgba(255,255,255,0.5);
  border-radius: 8px 8px 8px 8px;

  box-shadow: 5px 5px rgba(0,0,0,.2); 

  color: #313131;
  font-size: 20px;
  transition: 0.5s ease;
  margin: 0 auto;
  margin-bottom: 20px;
  display:block;
  
}

.search-box .search-bar:focus{
  background-color: rgba(255, 255, 255, 0.6);
}

.location-box .location {
  color: #fff;
  font-size: 40 px;
  font-weight : 700;
  text-align: center;
  text-shadow: 3px 3px rgba(50,50,70,.5);
  margin-bottom: 200px;

}

.weather-box{
  text-align:center;
}
.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;

  padding: 15px 25px;

  color: #FFF;
  font-size: 102px;
  font-weight: 900;

  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather-box .weather {
  color: #FFF;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}